<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link rel="stylesheet" href="./css/timeline.css">
    <link rel="shortcut icon" href="./imgs/favicon/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>
</head>
<body>
    <a href="/" id="home"><button class="button1">Home</button></a>
    <h1 class="panel hide">Timeline</h1>
    <!-- Past - AAA; Omegaquatics; Brushed; Homepage; Portfolio; Year 1 Certs; Shack; RELOAD; Pokedex; -->
    <div class="panel hide" id="tlWrapper">
        <div class="card hide year">2025</div>
        <div class="card event hide left">
            <div class="tag">Experience</div>
            <div class="experience">
                <img src="./imgs/aaa.png" alt="AAA logo">
                <div class="text">
                    <h2>Founder - AAA 3D Printing Solutions</h2>
                    <p>Create and sell 3D printed products online</p>
                </div>
            </div>
        </div>
        <div class="card hide year">2026</div>
        <div class="card event hide right">
            <div class="tag">Project</div>
            <a class="title" href="https://omegaquatics.com/">Omegaquatics Website</a>
            <img src="./imgs/Screenshot 2026-08-13 172330.png" alt="Omegaquatics" class="ss">
            <p>This website was a storefront I designed for my friend's coral business, Omegaquatics. I used Wordpress with the Elementor Pro and WooCommerce plugins to develop it.</p>
        </div>
        <div class="card event hide left">
            <div class="tag">Project</div>
            <a class="title" href="https://livingwaterstudios.itch.io/brushed">Brushed</a>
            <img src="./imgs/Screenshot 2026-04-10 105712.png" alt="Brushed" class="ss">
            <p>A short game made in 2 weeks for the <a class="link" href="https://itch.io/jam/quebles-jam-2026">Queble Game Jam 2026.</a> Made in Godot 4, you play as a character trying to escape a colorless world by painting it.</p>
        </div>
        <div class="card event hide right">
            <div class="tag">Project</div>
            <a class="title" href="https://github.com/jevenshirrell/homepage">Homepage</a>
            <img src="./imgs/Screenshot 2026-04-10 105310.png" alt="Homepage" class="ss">
            <p>A personal replacement for the new tab on my browser. This was one of my West-MEC projects made with HTML, CSS, and JS.</p>
        </div>
        <div class="card event hide left">
            <div class="tag">Project</div>
            <a class="title" href="https://jevenshirrell.github.io/portfolio/">Portfolio</a>
            <img src="./imgs/Screenshot 2026-08-31 141325.png" alt="Portfolio" class="ss">
            <p>A collection of my experience and projects made with HTML, CSS, JS, and Jquery. The website you are currently using.</p>
        </div>
        <div class="card event hide right">
            <div class="tag">Certification</div>
            <h2>PCEP – Certified Entry-Level Python Programmer</h2>
        </div>
        <div class="card event hide left">
            <div class="tag">Certification</div>
            <h2>Information Technology Specialist in HTML and CSS</h2>
        </div>
        <div class="card event hide right">
            <div class="tag">Certification</div>
            <h2>Information Technology Specialist in HTML5 Application Development</h2>
        </div>
        <div class="card event hide left">
            <div class="tag">Experience</div>
            <div class="experience">
                <img src="./imgs/SHAK.D-5d68ec85.png" alt="Shake Shack logo">
                <div class="text">
                    <h2>Team Member - Shake Shack</h2>
                    <p>Lead with genuine warmth and care for team members and guests. Prepare and assemble food orders to Shake Shack standards</p>
                </div>
            </div>
        </div>
        <div class="card event hide right">
            <div class="tag">Project</div>
            <a class="title" href="https://livingwaterstudios.itch.io/reload">RELOAD</a>
            <img src="./imgs/Screenshot 2026-08-13 171743.png" alt="RELOAD" class="ss">
            <p>A roguelike game made in 4 days for the <a class="link" href="https://itch.io/jam/gmtk-jam-2026">GMTK Game Jam 2026.</a> Made in Godot 4, you try to reach the end of a medieval cyberpunk without running out of ammo.</p>
        </div>
        <div class="card event hide left">
            <div class="tag">Project</div>
            <a class="title" href="https://jevenshirrell.github.io/pokedex/">Pokémon Card Generator</a>
            <img src="./imgs/Screenshot 2026-08-31 141607.png" alt="Pokémon Card Generator" class="ss">
            <p>A website that uses the PokéAPI to generate and save cards. Utilizes HTML, Tailwind, and JS.</p>
        </div>
        <!-- Future - Year 2 Certs; Graduate SMHS; Graduate West-MEC -->
        <div class="card hide year">2027</div>
        <div class="card event hide right">
            <div class="tag">Certification</div>
            <h2>PCAP – Certified Associate Python Programmer</h2>
        </div>
        <div class="card event hide left">
            <div class="tag">Certification</div>
            <h2>Information Technology Specialist in JS</h2>
        </div>
        <div class="card event hide right">
            <div class="tag">Education</div>
            <h2>West-MEC Northeast - Coding Program</h2>
        </div>
        <div class="card event hide left">
            <div class="tag">Education</div>
            <h2>Sunrise Mountain High School - High School Diploma</h2>
        </div>
    <script src="./scripts/timeline.js"></script>
</body>
</html>