@import url('./main.css');

/* sidebar */
header, main {
    border-radius: 30px !important;
}
header {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    background-color: var(--shade1) !important;
    flex-shrink: 0;
}
/* channels */
.channelList {
    list-style-image: url('../imgs/icons/comment-svgrepo-com.svg');
    list-style-position: inside;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 5px;
    overflow-y: auto;
}
.channelList li {
    background-color: var(--shade2) !important;
    transition: background-color 150ms;
}
.channelList li:hover {
    background-color: color-mix(in srgb, var(--shade2), white 5%) !important;
    cursor: pointer;
}
.channelList .activeChannel {
    background-color: color-mix(in srgb, var(--shade2), white 15%) !important;
}
/* mini profile */
.profile {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;
    justify-self: flex-end;
    user-select: none;
    transition: background-color 150ms;
}
.profile:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--panel), white 5%);
}
/* hero */
.hero img {
    margin-left: -11.6px;
    width: calc(100% + 22px);
    object-fit: cover;
    object-position: 0 -15px;
    mask-image: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
}

/* main content */
main {
    background-color: var(--shade1) !important;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}
/* header */
#channelName {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#channelName .name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#channelName .name img{
    transform: translateY(2px);
}
#channelName .backBtn {
    height: 30px;
}
#channelName .backBtn:hover {
    cursor: pointer;
}
/* message wrapper */
#messagesWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}
/* message */
.msg .textWrapper {
    flex-shrink: 1;
}
.msg {
    display: flex;
    align-items: center;
    gap: 15px;
}
.msg .pfp {
    align-self: flex-start;
}
.msg .thumb {
    box-shadow: var(--box-shadow);
    height: 200px;
    border-radius: 15px;
    display: block;
    border: 2px solid var(--accent);
}
.msg h3 {
    color: var(--accent);
}
/* contact form */
#contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#contactForm .panel{
    border-color: var(--accent);
    color: var(--accent);
    font-family: Text;
    outline: none;
}
#contactForm .panel::placeholder {
    color: color-mix(in srgb, var(--accent), transparent 50%);
}
#contactForm .row {
    display: flex;
    gap: 10px;
    justify-content: center;
}
#contactForm textarea {
    resize: none;
}
/* typing anims */
#animWrapper {
    display: none;
    /* display: flex; */
    position:absolute;
    justify-content: space-between;
    align-items: stretch;
    bottom: 38px;
    left: 353px;
    width: calc(100% - 391px);
}
#typing {
    display: flex;
    align-items: center;
    user-select: none;
    background-color: var(--bg);
    border: 2px solid var(--accent);
    border-radius: 15px;
    padding: 5px;
    box-shadow: var(--box-shadow);
}
#typing img {
    height: 25px;
    width: 55px;
    object-fit: cover;
    object-position: 50% calc(50% + 3px);
}

/* popup */
#profilePopup {
    position: absolute;
    left: 26px;
    bottom: 141px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}
/* banner */
.banner {
    background-color: var(--accent) !important;
    width: 100%;
    height: 100px;
    margin-bottom: 35px;
}
.banner img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transform: translateY(35px);
    border: 7.5px solid var(--panel);
}
/* list */
#profilePopup ul {
    list-style-position: inside;
    list-style-type: '- ';
    padding: 0;
    margin-bottom: 15px;
}
/* buttons */
.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#profilePopup button {
    font-size: 1.25rem;
    align-self: flex-start;
}

/* MEDIA QUERIES */
/* mobile */
@media (max-width:768px) {
    /* sidebar */
    header {
        width: 100%;
        max-width: 400px;
        /* display: none; */
    }
    .hero img {
        height: 100px;
        object-position: 0 -50px;
    }
    .name h2{
        text-align: center;
        font-size: 1.25rem;
    }
    /* channels */
    .channelList .activeChannel {
        background-color: var(--shade2) !important;   
    }
    /* mini profile */
    #miniProf {
        height: 75px;
    }
    #miniProf .pfp {
        height: 55px;
        width: 55px;
    }
    /* popup */
    #profilePopup {
        bottom: 117px;
        width: calc(100% - 52px);
        max-width: 376px;
        left: calc(50% - min(376px, calc(100% - 52px)) / 2);
    }

    /* messages */
    main {
        display: none;
        width: 100%;
    }
    #channelName {
        justify-content: space-between;
    }
    .msg .thumb {
        width: 100%;
        height: auto;
    }
    .msg h2 {
        font-size: 1.25rem;
    }
    .msg p {
        font-size: .8rem;
        overflow-wrap: anywhere;
    }
    /* contact */
    #contactForm .row {
        flex-direction: column;
    }
    /* typing */
    #animWrapper {
        left: 39px;
    }
}